body{

  background: #015e7e;

}

.nav{

  position: absolute;
  width: 20%;
  height: 3em;
  top: 1em;
  right: 0%;
}

.link{

  color:#d5e7f3;
  decoration:none;
  font-size:1em;
  margin-left:5%;

}

h1{

  font-size:3em;
  width:40%;
  color: #d5e7f3;
  position: absolute;
  top:3em;
  left:30%;
  right:30%;


}
